.footer {
  display: flex;
  justify-content: space-between;
  background-color: #b2c1a2; 
  color: white;
  padding: 40px;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  min-width: 300px;
  padding-right: 20px;
}

.footer-right {
  align-items: right;
} 


